<?xml version="1.0"?>
<!--
  如需如何設定 ASP.NET 應用程式的詳細資訊，請前往
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <connectionStrings>
    <add name="Entry9036" connectionString="Data Source=.\sqlexpress;Initial Catalog=Entry9036;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="Entry9036Entities" connectionString="metadata=res://*/App_Code.Entry9036Model.csdl|res://*/App_Code.Entry9036Model.ssdl|res://*/App_Code.Entry9036Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\sqlexpress;initial catalog=Entry9036;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="SignUp" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\chichi.mdf;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="ConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\NewPP.mdf;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="GroupBuy2" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Entry90362.mdf;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="Yoyo" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Yoyo.mdf;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <pages validateRequest="true">
      <namespaces>
        <add namespace="System.IO"/>
        <add namespace="System.Net.Mail"/>
        <add namespace="System.Globalization"/>
        <add namespace="System.Threading"/>
        <add namespace="System.Data"/>
        <add namespace="System.Data.SqlClient"/>
        <add namespace="System.Drawing"/>
        <add namespace="System.Drawing.Imaging"/>
        <add namespace="System.Drawing.Drawing2D"/>
      </namespaces>
    </pages>
    <compilation debug="true" targetFramework="4.6.1">
      <assemblies>
        <add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Data.Entity.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
      </assemblies>
      <buildProviders>
        <add extension=".edmx" type="System.Data.Entity.Design.AspNet.EntityDesignerBuildProvider"/>
      </buildProviders>
    </compilation>
    <!--update limit-->
    <httpRuntime targetFramework="4.6.1" maxRequestLength="20480"/>
    <siteMap defaultProvider="XmlSiteMapProvider" enabled="true">
      <providers>
        <add name="XmlSiteMapProvider" description="Default Site Map Provider" type="System.Web.XmlSiteMapProvider" siteMapFile="Web.sitemap" securityTrimmingEnabled="true"/>
      </providers>
    </siteMap>
    <!--authentication:認證-->
    <authentication mode="Forms">
      <!--<forms loginUrl="~/User_chichi/Login_mine.aspx"></forms>-->
    </authentication>
    <authorization>
      <!--<deny users="?"/>-->
    </authorization>
  </system.web>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
  <appSettings>
    <!--validation-->
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
    <add key="localhost.WebService" value="http://localhost:61305/changen/WebService.asmx"/>
  <add key="groupbuylocal.WebService" value="http://localhost:61305/9036GroupBuy/WebService.asmx"/>
  </appSettings>
</configuration>